<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class = "e-card"> 
            <form [formGroup]="formgroup" (ngSubmit)="checkEmail()">                           
                <font size='5'>Forgotten Your Password ?</font>
                <ejs-textbox type='email' formControlName="email" placeholder="Enter your email Address" floatLabelType="Auto">                          
                </ejs-textbox>
                <br />
                <div *ngIf="getemail.errors">
                    <p *ngIf="formSubmitted && getemail.hasError('required')" style="color:rgba(255, 0, 0, 0.521)">* Email address is required</p>
                    <p *ngIf="formSubmitted && getemail.hasError('email')" style="color:rgba(255, 0, 0, 0.671)">* invalid email address</p>
                </div>
                <button ejs-button cssClass="e-primary">Search <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
                <p></p>
                <font size='2'>Type the email address you used when you registerd with the system. Then we will email the code to this address.</font><br />
                <div *ngIf="userNotFound" class="message">
                    <p style="color:red">* Email address is Not Correct</p>
                </div>
            </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
